$couleur__test: hsl(132, 96%, 51%);

$couleur__texte: hsl(0, 0%, 6%);
$couleur__titre: hsl(220, 95%, 50%);

$couleur__lien: hsl(220, 95%, 31%);
$couleur__lien-visite: hsl(220, 95%, 31%);
$couleur__lien-hover: hsl(220, 95%, 50%);

$couleur__background-entete: hsl(0, 0%, 6%);
$couleur__lien-entete: hsl(0, 0%, 94%);
$couleur__lien-visite-entete: hsl(0, 0%, 94%);
$couleur__lien-entete-hover: hsl(220, 95%, 80%);
