$couleur__test: hsl(132, 96%, 51%);

/* Les deux teintes principales */
$teinte-1: 220deg; // Bleu
$teinte-2: 342deg; //Rose pour référence, utilisé pour les svg

$noir: hsl($teinte-1, 5%, 4%);
$blanc: hsl($teinte-1, 5%, 98%);
$couleur-gris-pale: hsl($teinte-1, 20%, 80%);
$couleur-gris-code: hsla($teinte-1, 20%, 80%, 0.6);

/************** Couleurs des titres ***************/
$couleur__titre: hsl($teinte-1, 100%, 50%); // H1

/************** Couleurs des liens ***************/
$couleur__lien: hsl($teinte-1, 100%, 30%);
$couleur__lien-visite: hsl($teinte-1, 100%, 30%);
$couleur__lien-hover: hsl($teinte-1, 100%, 50%);

/* Couleurs liens entête */
$couleur__lien-entete: $blanc;
$couleur__lien-visite-entete: $blanc;
$couleur__lien-entete-hover: hsl($teinte-1, 100%, 80%);
