/* 
** Tout ce qui concerne des dimensions
*/

/* Palliers pour les requêtes média */
$largeur__tablette: 800px;
$largeur__bureau: 992px;
$largeur__bureau_large: 1800px;

/* Espacements */
$espacement__xpetit: clamp(0.7rem, 0.657rem + 0.216vw, 0.9rem);
$espacement__petit: clamp(0.8rem, 0.743rem + 0.229vw, 1rem);
$espacement__moyen: clamp(1rem, 0.943rem + 0.229vw, 1.2rem);
$espacement__grand: clamp(1.4rem, 1.286rem + 0.457vw, 1.8rem);
$espacement__xl: clamp(2rem, 1.886rem + 0.457vw, 2.4rem);
$espacement__2xl: clamp(3rem, 2.886rem + 0.457vw, 3.4rem);
$espacement__3xl: clamp(4rem, 3.886rem + 0.457vw, 4.4rem);
