/* 
** Tout ce qui concerne des dimensions
*/

/* Palliers pour les requêtes média 
*  Seul le formulaire de recherche a besoin de requêtes média !
*/
$largeur__tablette: 800px;
$largeur__bureau: 992px;
$largeur__bureau_large: 1800px;

/* Espacements */
$espacement__xpetit: clamp(0.7rem, 0.657rem + 0.216vw, 0.9rem);
$espacement__petit: clamp(0.8rem, 0.743rem + 0.229vw, 1rem);
$espacement__moyen: clamp(1rem, 0.943rem + 0.229vw, 1.2rem);
$espacement__grand: clamp(1.4rem, 1.286rem + 0.457vw, 1.8rem);
$espacement__xl: clamp(2rem, 1.886rem + 0.457vw, 2.4rem);
$espacement__2xl: clamp(3rem, 2.886rem + 0.457vw, 3.4rem);
$espacement__3xl: clamp(4rem, 3.886rem + 0.457vw, 4.4rem);

$espacement__heros-texte: clamp(2rem, -1.073rem + 16.954vw, 18rem);

/* Réduire la largeur
*  Pour utilisation sur les médias dans WP
*/

@media screen and (min-width: $largeur__tablette) {
  .w-90 {
    height: auto;
    width: 90%;
  }

  .w-85 {
    height: auto;
    width: 85%;
  }

  .w-80 {
    height: auto;
    width: 80%;
  }

  .w-75 {
    height: auto;
    width: 75%;
  }

  .w-70 {
    height: auto;
    width: 70%;
  }

  .w-65 {
    height: auto;
    width: 65%;
  }

  .w-60 {
    height: auto;
    width: 60%;
  }

  .w-55 {
    height: auto;
    width: 55%;
  }

  .w-50 {
    height: auto;
    width: 50%;
  }

  .w-45 {
    height: auto;
    width: 45%;
  }

  .w-40 {
    height: auto;
    width: 40%;
  }

  .w-35 {
    height: auto;
    width: 35%;
  }

  .w-30 {
    height: auto;
    width: 30%;
  }

  .w-25 {
    height: auto;
    width: 25%;
  }
}
