/*
CSS Clam font-size generator : https://clamp.font-size.app/
*/

h1 {
  font-family: $police__titre;
  font-size: clamp(1.3rem, -0.0385rem + 3vw, 2rem);
  font-weight: $police__titre-weight;
}
h2 {
  color: $couleur__titre;
  font-family: $police__titre;
  font-size: clamp(1.6875rem, 1.6657rem + 0.0872vw, 1.875rem);
  font-weight: $police__titre-weight;
  margin: $espacement_grand;
  text-align: center;
}

h3 {
  font-family: $police__titre;
  font-size: clamp(1.375rem, 1.3591rem + 0.0847vw, 1.5625rem);
  font-weight: $police__titre-weight-leger;
}

h4 {
  font-family: $police__titre;
  font-size: clamp(1.34375rem, 1.3252rem + 0.0989vw, 1.5625rem);
  font-weight: $police__titre-weight;
}

h5 {
  font-family: $police__titre;
  font-size: clamp(1.3125rem, 1.2913rem + 0.113vw, 1.5625rem);
  font-weight: $police__titre-weight;
}
h6 {
  font-family: $police__titre;
  font-size: clamp(1.15625rem, 1.1218rem + 0.1836vw, 1.5625rem);
  font-weight: $police__titre-weight;
}

p,
ul,
li,
figcaption,
button,
a,
span {
  font-family: $police__texte;
  font-weight: $police__texte-weight;
  line-height: 150%;
}

p,
ul,
li,
figcaption {
  font-size: clamp(1.3rem, 1.0887rem + 0.1453vw, 1.4375rem);

  @media screen and (min-width: $largeur__bureau) {
    font-size: clamp(1.1875rem, 1.1337rem + 0.0615vw, 1.28125rem);
  }
  line-height: 150%;
}

li > p {
  display: inline;
}

input {
  font-size: clamp(0.8rem, 0.125rem + 1.2vw, 1.1rem);
}

strong,
b,
em,
i {
  font-weight: bold;
}

figcaption {
  font-size: clamp(0.7rem, 0.125rem + 1.2vw, 1.1rem);
  line-height: 130%;
  margin: 0 2rem;
  transform: translateY(-0.2rem);
}

.heros-texte {
  border-bottom: $couleur__texte 1px solid;
  color: $couleur__titre;
  font-size: clamp(2rem, -0.0385rem + 3vw, 2rem);
  line-height: 110%;
  padding: $espacement_xl;
}
