/*
CSS Clam font-size generator : https://clamp.font-size.app/
*/

h1 {
  color: $couleur__titre;
  font-family: $police__titre;
  font-size: clamp(1.3rem, -0.0385rem + 3vw, 2rem);
  font-weight: $police__titre-weight;
  margin: $espacement_petit $espacement_grand $espacement_moyen
    $espacement_grand;
  text-align: center;
}
h2 {
  color: $couleur__lien;
  font-family: $police__titre;
  font-size: clamp(1.6875rem, 1.6657rem + 0.0872vw, 1.875rem);
  font-weight: $police__texte-weight;
  margin: $espacement_grand;
  text-align: center;
}

h3,
h3 > a {
  font-family: $police__titre;
  font-size: clamp(1.375rem, 1.3591rem + 0.0847vw, 1.5625rem);
  font-weight: $police__titre-weight-leger;
  margin: $espacement_moyen;
}

h4 {
  font-family: $police__titre;
  font-size: clamp(1.34375rem, 1.3252rem + 0.0989vw, 1.5625rem);
  font-weight: $police__titre-weight;
}

h5 {
  font-family: $police__titre;
  font-size: clamp(1.3125rem, 1.2913rem + 0.113vw, 1.5625rem);
  font-weight: $police__titre-weight;
}
h6 {
  font-family: $police__titre;
  font-size: clamp(1.15625rem, 1.1218rem + 0.1836vw, 1.5625rem);
  font-weight: $police__titre-weight;
}

p,
ul,
li,
figcaption,
button,
a,
span {
  font-family: $police__texte;
  font-weight: $police__texte-weight;
  line-height: 150%;
}

p,
ul,
li,
code,
li > code {
  font-size: clamp(1.3rem, 1.0887rem + 0.1453vw, 1.4375rem);
  padding-bottom: $espacement_moyen;

  @media screen and (min-width: $largeur__bureau) {
    font-size: clamp(1.1875rem, 1.1337rem + 0.0615vw, 1.28125rem);
  }
  line-height: 150%;
}

li > p {
  display: inline;
}

strong,
b,
em,
i {
  font-weight: bold;
}

figcaption {
  font-size: clamp(1rem, 0.125rem + 1.2vw, 1.1rem);
  line-height: 130%;
  margin: 0 $espacement_grand $espacement_grand $espacement_grand;
  transform: translateY(-0.2rem);
}

blockquote {
  font-size: clamp(1.3rem, 1.0887rem + 0.1453vw, 1.4375rem);
  padding: $espacement_moyen $espacement_grand;
}

pre > code {
  font-size: clamp(1rem, 0.125rem + 1.2vw, 1.1rem);
}

pre {
  max-width: 300px;
  max-height: 480px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: $espacement_grand;

  @media screen and (min-width: $largeur__tablette) {
    max-width: 500px;
    max-height: 600px;
  }

  @media screen and (min-width: $largeur__bureau) {
    max-width: 600px;
    max-height: 700px;
  }

  @media screen and (min-width: $largeur__bureau_large) {
    max-width: 800px;
    max-height: 900px;
  }
}
