$police__titre: "Roboto", sans-serif;
$police__titre-weight-extra: 800;
$police__titre-weight: 700;

$police__texte: "Roboto", sans-serif;
$police__texte-citation: "Roboto Slab", serif;
$police__texte-code: "Roboto Mono", monospace;
$police__texte-weight-bold: 600;
$police__texte-weight: 500;
$police__texte-weight-leger: 400;

/*
$police__lien: "Roboto", sans-serif;
$police__lien-weight: 500;
*/
