/* les titres */

$police__titre: "Roboto", sans-serif;
$police__titre-weight-extra: 800;
$police__titre-weight: 700;

/* le texte */
$police__texte: "Roboto", sans-serif;
$police__texte-citation: "Roboto Slab", serif;
$police__texte-code: "Roboto Mono", monospace;
$police__texte-weight-bold: 600;
$police__texte-weight: 500;
$police__texte-weight-leger: 400;

/* les ombres */
$texte-ombre: 0.1em 0.1em 0.2em hsl(220, 16%, 80%);
$titre-ombre: 0.01em -0.04em 0.2em hsl(220, 16%, 82%);
