.entete-barre {
  background-color: $noir;
  padding: $espacement__petit $espacement__moyen;
  width: 100%;

  & h1,
  a {
    margin: 0;
  }

  & ul {
    list-style-type: none;
    //ajustement temporaire pour un li
    transform: translateY(1.14rem);
  }
}
