.entete-barre {
  background-color: $noir;
  padding: $espacement__petit $espacement__moyen;

  & h1,
  a {
    margin: $espacement__petit;
  }

  & ul {
    list-style-type: none;
    //ajustement temporaire pour un li
    transform: translateY(1.3rem);
  }
}
