.entete-barre {
  background-color: $couleur__background-entete;
  padding: $espacement_petit $espacement_moyen;

  & h1,
  a {
    margin: $espacement_petit;
  }

  & ul {
    list-style-type: none;
    //ajustement temporaire pour un li
    transform: translateY(1.3rem);
  }
}
