.entete-barre,
.nav-principale {
  a {
    color: $couleur__lien-entete;
    font-weight: $police__texte-weight-bold;
    text-decoration: none;
    text-shadow: none;

    &:visited {
      color: $couleur__lien-visite-entete;
    }

    &:hover,
    &:focus,
    &:active {
      color: $couleur__lien-entete-hover;
    }

    &:focus {
      outline: thin dotted;
    }

    &:hover,
    &:active {
      outline: 0;
    }
  }
}
