.site-footer {
  display: flex;
  flex-direction: column;
  padding-bottom: $espacement_moyen;
  margin: $espacement_xl 0;
  padding: 0 $espacement_xl;
  width: 100%;
}

.site-info {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: $police__texte;
  font-weight: $police__texte-weight;
  padding: 0;
  margin-top: $espacement_grand;

  & .site-date,
  a,
  p {
    font-size: clamp(0.8rem, 1.0887rem + 0.1453vw, 1.4375rem);
    line-height: 100%;
  }
}
