.site-footer {
  padding: $espacement__2xl $espacement__moyen;
  width: 100%;
}

.site-info {
  flex-wrap: wrap;
  font-family: $police__texte;
  font-weight: $police__texte-weight;
  margin-top: $espacement__grand;

  & .site-date,
  a,
  p {
    color: $noir;
    font-size: clamp(0.8rem, 1.0887rem + 0.1453vw, 1.4375rem);
    line-height: 100%;
  }
}
