/* menu secondaire - widget 1 - balise aside
Widget du footer avec les liens vers les derniers articles*/
#menu-secondaire .wp-block-heading {
  color: $noir;
  margin-left: 0;
  text-align: left;
}

#menu-secondaire {
  & li {
    list-style-type: none;
  }
}

.widget-h2-sidebar {
  padding-top: $espacement__moyen;
}
