.widget-accueil-1 {
  margin-bottom: $espacement_grand;
  padding: $espacement_xl;
  width: 100%;
}

.widget-accueil-1 p {
  @media screen and (min-width: $largeur__tablette) {
    margin: 0 auto;
    max-width: 90%;
  }
}

// menu secondaire - widget 1 - balise aside
#menu-secondaire .wp-block-heading {
  color: $couleur__texte;
  text-align: inherit;
  margin: inherit;
}

#menu-secondaire li,
#menu-secondaire a {
  line-height: 120%;
}

.widget-h2-sidebar {
  padding-top: $espacement_moyen;
}
