/* 
** Tout ce qui concerne la balise body
** 
*/

body {
  height: 100%;
  max-width: 100%;
  width: 100vw;
}

.wrapper {
  width: clamp(16rem, 90vw, 70rem);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
