form {
  max-width: 90%;
  @media screen and (min-width: $largeur__tablette) {
    max-width: 50%;
  }

  @media screen and (min-width: $largeur__bureau) {
    max-width: 40%;
  }

  @media screen and (min-width: $largeur__bureau_large) {
    max-width: 30%;
  }
}

input {
  color: $couleur__texte;
  font-family: $police__texte;
}

input:focus {
  outline-color: $couleur__titre;
}
