form {
  @media screen and (min-width: $largeur__tablette) {
    max-width: 60%;
  }

  @media screen and (min-width: $largeur__bureau) {
    max-width: 45%;
  }

  @media screen and (min-width: $largeur__bureau_large) {
    max-width: 35%;
  }
}

input {
  color: $noir;
  font-family: $police__texte;
}

input:focus {
  outline-color: $couleur__titre;
}

button {
  font-size: clamp(0.875rem, 0.782rem + 0.371vw, 1.2rem);
  padding: $espacement__xpetit;
}
