a {
  color: $couleur__lien;
  text-decoration: none;

  &:visited {
    color: $couleur__lien-visite;
  }

  &:hover,
  &:focus,
  &:active {
    color: $couleur__lien-hover;
  }

  &:focus {
    outline: 0;
  }

  &:hover,
  &:active,
  &:focus,
  a:visited {
    outline: 0;
  }
}
