.article-extrait {
  padding: 0;
  margin: $espacement__xl;

  & h2,
  a {
    font-size: clamp(1.325rem, 1.132rem + 0.771vw, 2rem);
    font-weight: $police__texte-weight;
    line-height: 130%;
    margin: $espacement__grand;
  }
  & h3 {
    margin: 0;
    text-align: center;
  }

  & img,
  svg {
    width: 100%;
    height: auto;
  }
}

/* Classe pour la balise article d'une page 
* (comme dans template-parts content.php) 
*/
.article-page {
  & h1 {
    margin-top: $espacement__3xl;
    margin-bottom: $espacement__2xl;
  }
  & svg {
    margin-bottom: $espacement__2xl;
  }
}

.article-date {
  padding: $espacement__2xl;
  border-bottom: 2px solid $couleur__lien;
}
