.article-base {
  margin-bottom: $espacement__grand;
  padding: $espacement__xl;
  width: 100%;
}

.article-base p {
  @media screen and (min-width: $largeur__tablette) {
    margin: 0 auto;
    max-width: 90%;
  }
}

.article-extrait {
  padding: 0;
  margin: 0 $espacement__xl $espacement__3xl $espacement__xl;

  & h2 {
    font-weight: $police__texte-weight;
    line-height: 130%;
    margin: $espacement__grand;
  }
  & h3 {
    margin: 0;
    text-align: center;
  }
}
