/*Rangées*/
.bloc-flex-rw-ct {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bloc-flex-rw-ct-ct {
  align-items: center;
  display: flex;
  justify-content: center;
}

/*Colonnes*/
.bloc-flex-cl {
  display: flex;
  flex-direction: column;
}

.bloc-flex-cl-ct {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bloc-flex-cl-ct-ev {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
