/* Bloc de texte d'introduction
*  Classe à mettre dans WP pour utilisation
*/
.heros-texte {
  border-bottom: $noir 1px solid;
  color: $couleur__titre;
  font-size: clamp(1.7rem, -0.0385rem + 3vw, 2rem);
  line-height: 110%;
  margin: $espacement__2xl $espacement__6xl $espacement__grand $espacement__6xl;
}
