/* Bloc de texte d'introduction
*  Classe à mettre dans WP pour utilisation
*/

/* Bloc de texte H1 pour les pages */
.heros-texte {
  border-bottom: $noir 1px solid;
  color: $couleur__titre;
  font-weight: $police__texte-weight;
  line-height: 110%;
  margin: $espacement__2xl $espacement__heros-texte $espacement__grand
    $espacement__heros-texte;
  padding-bottom: $espacement__grand;
  text-align: left;
}

/* Titre H1 */
.accueil.heros-titre {
  border-bottom: $noir 1px solid;
  color: $couleur__titre;
  font-weight: $police__texte-weight;
  line-height: 110%;
  margin: $espacement__3xl $espacement__heros-texte $espacement__grand
    $espacement__heros-texte;
  padding-bottom: $espacement__grand;
  text-align: center;
}

.accueil-texte-info {
  margin-left: $espacement__moyen;
  margin-right: $espacement__moyen;
  margin-bottom: $espacement__moyen;

  @media screen and (min-width: $largeur__bureau) {
    margin-left: $espacement__3xl;
    margin-right: $espacement__3xl;
    padding-left: $espacement__xl;
    padding-right: $espacement__xl;
  }
}
